{% extends "base.html" %}

{% block content %}
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4" style="min-width: 40%">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h3>{{user.name}}</h3>
            <span>{{user.email}}</span>
            <div class="d-flex mt-5">
                <a class="btn btn-primary me-2" href="/editUserName" role="button">Редактировать имя</a>
                <a class="btn btn-primary" href="/editUserPassword" role="button">Сменить пароль</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
