{% extends "base.html" %}

{% block head %}
<link href="{{url_for('static', filename='css/editRecipe.css')}}" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='css/md-editor.css')}}" />
<script type="text/javascript" src="{{url_for('static', filename='scripts/md-editor/editor.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='scripts/md-editor/marked.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='scripts/editRecipe.js')}}" defer></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center my-4">
        <div class="col col-lg-10">
            <label for="inp-title" class="form-label">Название: </label>
            <input type="text" value="{{recipe.title}}" class="form-control" id="inp-title">
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col col-lg-10 d-flex ">
            <div class="img-container" id="img-container">
                {% for picture in recipe.pictures %}
                <div class="flex-shrink-0">
                    <img src="{{url_for('static', filename='images/' + picture.title)}}" id="{{picture.id}}">
                    <button class="btn btn-danger float-end">Удалить</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col col-lg-10">
            <label class="form-label">
                <input type="file" id="inp-img" accept="image/*">
                <span class="btn btn-success">Загрузить картинку</span>
            </label>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col col-lg-10">
            <h4>Категории:</h4>
            <span id="container-category">
            {% for category in recipe.categories %}
                <span class="badge bg-secondary fs-6" id="{{category.id}}">
                    <span>{{category.title}}</span>
                    <button class="btn btn-danger">-</button>
                </span>
            {% endfor %}
            </span>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-md-7 col-lg-6 mb-2">
            <div>
                <input type="text" list="category-suggestions" placeholder="Категория" id="inp-category">
                <button class="btn btn-success" id="btn-category">Добавить</button>
                <datalist id="category-suggestions">
                    <optgroup>
                    {% for category in categoriesAll %}
                    <option id="{{category.id}}">{{category.title}}</option>
                    {% endfor %}
                    </optgroup>
                </datalist>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-4 text-end">
            <button class="btn btn-success">Добавить новую категорию</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-lg-10">
            <h4>Ингредиенты и их количество:</h4>
            <dl class="row" id="container-ingredient">
                {% for ingredient in ingredients %}
                <dt class="col-sm-3" id="{{ingredient[2]}}">{{ingredient[0]}}</dt>
                <dd class="col-sm-9">
                    <input type="text" value="{{ingredient[1]}}" class="w-75">
                    <button class="btn btn-danger float-end">-</button>
                </dd>
                {% endfor %}
            </dl>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-md-7 col-lg-6 mb-2">
            <div>
                <input type="text" list="ingredient-suggestions" placeholder="Ингредиент" id="inp-ingredient">
                <button class="btn btn-success" id="btn-ingredient">Добавить</button>
                <datalist id="ingredient-suggestions">
                    <optgroup>
                    {% for ingredient in ingredientsAll %}
                    <option id="{{ingredient.id}}">{{ingredient.title}}</option>
                    {% endfor %}
                    </optgroup>
                </datalist>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-4 text-end">
            <button class="btn btn-success">Добавить новый ингредиент</button>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col col-lg-10">
            <textarea id="textarea">{{recipe.description}}</textarea>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col col-lg-10 d-flex justify-content-between">
            <a class="btn btn-warning" href="/recipe/{{recipe.id}}">Отмена</a>
            <button id="btn-submit" class="btn btn-success">Сохранить</button>
        </div>
    </div>
</div>
<script>
    var editor = new Editor({
        element: document.getElementById("textarea"),
        status: false,
    });

    editor.render();
</script>
<div class="modal" tabindex="-1" id="modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div> -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-primary" id="btn-modal-ok">ОК</button>
        </div>
      </div>
    </div>
</div>
<div class="spinner" id="spinner">
    <div>
        <div class="spinner-border" style="width: 3rem; height: 3rem;"></div>
    </div>
</div>
{% endblock %}
