{% extends "base.html" %}

{% block head %}
<link href="{{url_for('static', filename='css/index.css')}}" rel="stylesheet">
<script src="{{url_for('static', filename='scripts/index.js')}}" defer></script>
{% endblock %}


{% block content %}
<div class="container">
<div class="row">
<div class="col col-lg-4 sidebar">
<div class="container">
<div class="row">
    <div class="col">
        <h2>Поиск рецепта</h2>
    </div>
</div>
<form id="search-form" autocomplete="off">
<div class="row">
    <div class="col">
        <input type="text" id="inp-title" class="form-control" placeholder="Название рецепта" value="{{search_title}}">
    </div>
</div>
<div class="row">
    <div class="col">
        <h4>Категории <span class="badge bg-success" id="badge-categories"></span></h4>
        <div style="max-height: 11.5em; overflow: auto;" class="ps-1 fs-5">
            {% for category in categories %}
            <div>
                <input type="checkbox" id="{{'inp-category-' + category.id|string}}" class="form-check-input"
                {% if category.id in search_categories %} checked {% endif %}
                >
                <label class="form-check-label" for="{{'inp-category-' + category.id|string}}">{{category.title}}</label>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h4>Ингредиенты <span class="badge bg-success" id="badge-ingredients-add"></span> <span class="badge bg-warning" id="badge-ingredients-remove"></span></h4>
        <div style="max-height: 11.5em; overflow: auto;" class="ps-1 fs-5">
            {% for ingredient in ingredients %}
            <div>
                <input type="checkbox" id="{{'inp-ingredient-add-' + ingredient.id|string}}" class="input-add fs-4"
                {% if ingredient.id in search_ingredientsAdd %} checked {% endif %}
                >
                <label class="form-check-label" for="{{'inp-ingredient-add-' + ingredient.id|string}}">{{ingredient.title}}</label>
                <label class="ps-4 float-end me-2">
                <input type="checkbox" id="{{'inp-ingredient-remove-' + ingredient.id|string}}" class="input-remove fs-4"
                {% if ingredient.id in search_ingredientsRemove %} checked {% endif %}
                >
                </label>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h4>Авторы <span class="badge bg-success" id="badge-users-add"></span> <span class="badge bg-warning" id="badge-users-remove"></span></h4>
        <div style="max-height: 11.5em; overflow: auto;" class="ps-1 fs-5">
            {% for user in users %}
            <div>
                <input type="checkbox" id="{{'inp-users-add-' + user.id|string}}" class="input-add fs-4"
                {% if user.id in search_usersAdd %} checked {% endif %}
                >
                <label class="form-check-label" for="{{'inp-users-add-' + user.id|string}}">{{user.name}}</label>
                <label class="ps-4 float-end me-2">
                <input type="checkbox" id="{{'inp-users-remove-' + user.id|string}}" class="input-remove fs-4"
                {% if user.id in search_usersRemove %} checked {% endif %}
                >
                </label>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col">
        <h4>Исключить ингредиенты</h4>
        <div style="max-height: 10em; overflow: auto;" class="ps-1">
            {% for ingredient in ingredients %}
            <div>
                <input type="checkbox" id="{{'inp-remove-' + ingredient.id|string}}" class="form-check-input"
                {% if ingredient.id in search_ingredientsRemove %} checked {% endif %}
                >
                <label class="form-check-label" for="{{'inp-remove-' + ingredient.id|string}}">{{ingredient.title}}</label>
            </div>
            {% endfor %}
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col text-center">
        <button class="btn btn-primary m-2" id="btn-search" type="submit">Поиск</button>
    </div>
</div>
</form>
</div>
</div>
<div class="w-100 d-lg-none"></div>
<div class="col col-auto col-lg-8">
<div class="container">
    <div class="row">
        <div class="col text-end mt-2">
            {% if (count|string)[-1] == "1" and (count|string)[0] != "1" %}
            Найден
            {% else %}
            Найдено
            {% endif %}
            {{count}}
            {% if (count|string)[-1] == "1" and (count|string)[0] != "1" %}
            рецепт
            {% elif (count|string)[-1] in ["2", "3", "4"] and (count|string)[0] != "1" %}
            рецепта
            {% else %}
            рецептов
            {% endif %}
        </div>
    </div>
    {% for recipe in recipes %}
    <div class="row border rounded py-2 my-2">
        <div class="col-3 col-md-2 pe-0 d-flex align-items-center">
            <div class="img-container">
            {% if recipe.pictures[0] %}
            <img src="{{url_for('static', filename='images/' + recipe.pictures[0].title)}}" class="img-fluid" alt="...">
            {% else %}
            <img src="{{url_for('static', filename='images/rice-bowl.png')}}" class="img-fluid img-thumbnail" alt="...">
            {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-auto">
                        <h1>{{recipe.title}}</h1>
                    </div>
                </div>
                <div class="row overflow-auto">
                    <div class="col">
                        <div class="badge bg-secondary">Автор: {{recipe.creatorUser.name}}</div>
                    </div>
                </div>
                <div class="row overflow-auto">
                    {% for category in recipe.categories %}
                    <div class="col">
                        <div class="badge bg-success">{{category.title}}</div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row overflow-auto">
                    <div class="col">{% for ingredient in recipe.ingredients %}
                        <div class="badge bg-info">{{ingredient.title}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col mt-2 text-center d-flex justify-content-center">
            <div class="pagination">
                {% if page != 0 %}
                <li class="page-item" id="btn-page-prev"><a class="page-link" href="#">&laquo;</a></li>
                {% endif %}
                {% if pageCount > 1 %}
                <li class="page-item {% if page == 0 %}active{% endif %}" id="btn-page-0"><a class="page-link" href="#">1</a></li>
                {% endif %}
            {% if page > 3 %}
            </div>
            <div class="pagination ms-2">
            {% endif %}
                {% for i in range(page - 2, page + 3) %}
                    {% if i > 0 and i < pageCount - 1 %}
                    <li class="page-item {% if page == i %}active{% endif %}" id="btn-page-{{i}}"><a class="page-link" href="#">{{i + 1}}</a></li>
                    {% endif %}
                {% endfor %}
            {% if page < pageCount - 4 %}
            </div>
            <div class="pagination ms-2">
            {% endif %}
                {% if pageCount > 1 %}
                <li class="page-item {% if page == pageCount - 1 %}active{% endif %}" id="btn-page-{{pageCount - 1}}"><a class="page-link" href="#">{{pageCount}}</a></li>
                {% endif %}
                {% if page < pageCount - 1 %}
                <li class="page-item" id="btn-page-next"><a class="page-link" href="#">&raquo;</a></li>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}
