{% extends "base.html" %}

{% block head %}
<link href="{{url_for('static', filename='css/recipe.css')}}" rel="stylesheet">
<script src="{{url_for('static', filename='scripts/marked.min.js')}}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">{{recipe.title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="img-container" id="img-container">
                {% for picture in recipe.pictures %}
                <img src="{{url_for('static', filename='images/' + picture.title)}}">
                {% endfor %}
            </div>
        </div>
    </div>
    {% if recipe.categories|length > 0 %}
    <div class="row justify-content-center">
        <div class="col col-lg-10">
            <h4>Категории:
                {% for category in recipe.categories %}
                <span class="badge bg-success" id="badge-users-remove">{{category.title}}</span>
                {% endfor %}
            </h4>
        </div>
    </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col col-lg-10">
            <dl class="row">
                {% for ingredient in ingredients %}
                <dt class="col-sm-3">{{ingredient[0]}}</dt>
                <dd class="col-sm-9">{{ingredient[1]}}</dd>
                {% endfor %}
            </dl>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col col-lg-10">
            <div id="description"></div>
            <template id="description-raw">{{recipe.description}}</template>
            <script>
                const template = document.getElementById('description-raw');
                const description = document.getElementById('description');
                description.innerHTML = marked.parse(template.content.textContent);
            </script>
            <!-- <p class="fs-3">{{recipe.description}}</p> -->
        </div>
    </div>
    {% if current_user.is_authenticated and current_user.id == recipe.creator %}
    <div class="row mb-4">
        <div class="col text-center">
            <a href="/editRecipe/{{recipe.id}}" class="btn btn-primary">Редактировать рецепт</a>
            <a href="/deleteRecipe/{{recipe.id}}" class="btn btn-danger">Удалить рецепт</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
