.img-container {
    overflow: overlay;
    max-height: 50vh;
    display: flex;
}
.img-container > div {
    display: block;
    height: auto;
    width: auto;
    position: relative;
    flex-shrink: 0;
}

.img-container img {
    height: 100%;
    width: auto;
}
.img-container button {
    position: absolute;
    right: 1em;
    top: 1em;
    left: 1em;
    bottom: 1em;
    opacity: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10 l8 0'/%3e%3c/svg%3e");
}

.img-container::-webkit-scrollbar {
    height: 0.9em;
}
/* .img-container::-webkit-scrollbar-track {
} */
.img-container::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    outline: 2px solid slategrey;
    border-radius: 1em;
}

#inp-img {
    position: fixed;
    opacity: 0;
    left: -1000px;
}
#inp-img:focus ~ span {
    box-shadow:0 0 0 .25rem rgba(25,135,84,.25)
}

.spinner {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 99999;
}
.spinner-active {
    display: flex;
}